VM_PUBLIC_IP=34.26.164.145
PUBLIC_APP_URL=http://34.26.164.145:3000
PUBLIC_API_URL=http://34.26.164.145:4000
POSTGRES_DB=study_planner
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
MONGO_DB=study_planner_sessions
JWT_SECRET=change_me_for_production
OLLAMA_MODEL=llama3.2