PORT=3005
AUTH_SERVICE_URL=http://localhost:3001
PLANNER_SERVICE_URL=http://localhost:3002
PROGRESS_SERVICE_URL=http://localhost:3003
AI_SERVICE_URL=http://localhost:3004
CORS_ORIGIN=http://localhost:3000
